/* for Header */

* {
    margin: 0;
}

.headcontent {
    background-color: rgb(248, 238, 224);
}

ul>li {
    display: inline;
}

.mary {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px;
}

.header-content {
    font-weight: 40px;
    font-size: 40px;
}

.primary-colour {
    color: coral;
}

.list-item {
    padding: 30px;
}

.hire-button {
    background-color: coral;
    border: 0;
    color: white;
    padding: 10px 12px;
    border-radius: 4px;
}

/* ---------------------------- */


.hardy-mama
{
    display: flex;
    justify-content: space-between;
}
.first-line
{
    /* padding: 50px; */
    padding: 50px 0 30px 0;
    font-size: 30px;
    color: dimgray;
}
.space
{
    padding: 50px;
}
.hardi-vai
{
    font-size: 55px;
    padding: 0 0 40px 0;
}